==
<?php 
function onStart()
{
    Event::listen('cms.page.init', function($controller, $page) {
        $messageIds = [$page->title, $page->seo_title];
        
            if (isset($page->apiBag['staticPage']))
            {
                $vars = $page->apiBag['staticPage']->getViewBag();
                $messageIds[] = $vars->property('seo_title');
                $vars->setProperty('seo_title', Message::get($vars->property('seo_title')));
            }
            
            Message::importMessages($messageIds);
            $page->title = Message::get($page->title);
            
            if ($page->seo_title)
            {
                $page->seo_title = Message::get($page->seo_title);
            }
        });
    $this['rootPath'] = url('/');
    $this['currentLocale'] = app()->getLocale();
}
?> 
==
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FUTURA - {{ this.page.title|_ }}</title>
    <meta name="description" content="{{ this.page.meta_description|_ }}" />
    <meta name="title" content="{{ this.page.meta_title|_ }}" />
    <meta name="author" content="Oleg Levitsky https://github.com/levabd" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="article">
    <meta property="og:title" content="FUTURA - {{ this.page.title|_ }}">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="FUTURA">
    <meta property="og:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="FUTURA">
    <meta name="twitter:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/images/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/images/ms-icon-144x144.png'|theme }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">

    <link href="{{ [
      'assets/vendor/bootstrap/dist/css/bootstrap.min.css',
      'assets/vendor/animate.css/animate.min.css',
	  'assets/vendor/fullpage/dist/jquery.fullpage.min.css',
	  'assets/css/bootstrap-spacing-extended.css',
	  'assets/css/main.css'
    ]|theme }}" rel="stylesheet"> {% styles %}

</head>

<body>

    {% page %}

    <script src="{{ [
      'assets/vendor/jquery/dist/jquery.min.js',
      'assets/vendor/popper/popper.min.js',
      'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
      'assets/vendor/font-awesome/svg-with-js/js/fontawesome-all.min.js',
	  'assets/vendor/fullpage/vendors/jquery.easings.min.js',
	  'assets/vendor/fullpage/vendors/scrolloverflow.min.js',
	  'assets/vendor/fullpage/dist/jquery.fullpage.min.js',
	  'assets/js/app.js'
	]|theme }}"></script>
    <script type="text/javascript">
        // Base animations
        function doAnimations(elems) {
            var animEndEv = "webkitAnimationEnd animationend";

            elems.each(function() {
                var $this = $(this),
                    $animationType = $this.data("animation");

                $this.addClass($animationType).one(animEndEv, function() {
                    $this.removeClass($animationType);
                });
            });
        }
		
		var rootPath = "{{ rootPath }}";
    </script>
    {% framework extras %} {% scripts %}
</body>

</html>